/* The universe */

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    height: 80px;
    width: 80px;
    margin-top: -40px; 
    margin-left: -40px;
    
    border-color: orange;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 30px yellow;
}

#mercury {
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 8px;
    width: 8px;
    margin-left: -4px;
    margin-top: -4px;
    
    border-color: red;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 1px white;
}

#mercury-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;

    /* Orbit visualization */
    /*border-width: 2px;
    border-style: dotted;
    border-color: red;
    border-radius: 50%;*/

    -webkit-animation: spin-right 4s linear infinite;
    -moz-animation: spin-right 4s linear infinite;
    animation: spin-right 4s linear infinite;
}

#venus {
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 10px;
    width: 10px;
    margin-left: -5px;
    margin-top: -5px;
    
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 5px white;
}

#venus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 190px;
    height: 190px;
    margin-top: -95px;
    margin-left: -95px;

    /* Orbit visualization */
    /*border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;*/
    
    -webkit-animation: spin-right 6s linear infinite;
    -moz-animation: spin-right 6s linear infinite;
    animation: spin-right 6s linear infinite;
}

#earth {
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 16px;
    width: 16px;
    margin-left: -8px;
    margin-top: -8px;
    
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
}

#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
    
    /* Orbit visualization */
    /*border-width: 2px;
    border-style: dotted;
    border-color: blue;
    border-radius: 50%;*/
    
    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

#mars {
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 12px;
    width: 12px;
    margin-left: -6px;
    margin-top: -6px;
    
    border-color: red;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 3px white;
}

#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    
    /* Orbit visualization */
    /*border-width: 2px;
    border-style: dotted;
    border-color: blue;
    border-radius: 50%;*/
    
    -webkit-animation: spin-right 15s linear infinite;
    -moz-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
}

#asteroid-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    
    /* Orbit visualization */
    border-width: 2px;
    border-style: dotted;
    border-color: red;
    border-radius: 50%;
    
    -webkit-animation: spin-right 50s linear infinite;
    -moz-animation: spin-right 50s linear infinite;
    animation: spin-right 50s linear infinite;
}

#jupiter {
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -15px;
    
    border-color: grey;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 3px white;
}

#jupiter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    /* Orbit visualization */
    /*border-width: 2px;
    border-style: dotted;
    border-color: blue;
    border-radius: 50%;*/
    
    -webkit-animation: spin-right 20s linear infinite;
    -moz-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}

/* Animation function */

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

